@charset "UTF-8";
/* =======================================================================
  Variables: Pre functions ============================================ */
/* ===================================================================
  Variables: Base font sizes ===================================== */
/* ===================================================================
  Variables: Modular scaling ===================================== */
/* Rem ============================================================ */
/* Em ============================================================= */
/* ===================================================================
  Variables: Font families ======================================== */
/* ===================================================================
  Variables : Font sizes ========================================= */
/* ===================================================================
  Variables: Typos =============================================== */
/* =======================================================================
  Variables: Generic ================================================== */
/* =======================================================================
  Variables: Colors =================================================== */
/* ===================================================================
  Variables: Elements ============================================= */
/* ===================================================================
  Variables: u-t ================================================== */
/* ===================================================================
  Variables: Utilities ============================================= */
/* ===================================================================
  Variables: o-ctn =============================================== */
/* ===================================================================
  Variables: o-gutter ================================================ */
/* ===================================================================
  Variables: o-tiles =============================================== */
/* ===================================================================
  Variables: Objects ============================================= */
/* ===================================================================
  Variables: c-card =============================================== */
/* ===================================================================
  Variables: Components ========================================== */
/* =======================================================================
  Variables
  ===================================================================== */
/* =======================================================================
  Functions: Greatest common divisor (GCD) ============================ */
/* =======================================================================
  Function: Strips unit =============================================== */
/* =======================================================================
  Function: MQ ======================================================== */
/* =======================================================================
  Function: Rem ======================================================= */
/* =======================================================================
  Function: Em ======================================================== */
/* =======================================================================
  Function: Pixels ==================================================== */
/* =======================================================================
  Functions: Modular scaling ========================================== */
/* =======================================================================
  Function: Clamp  ==================================================== */
/* =======================================================================
Function: Grid  ===================================================== */
/*
  @function cq-grid($preferredValue, $itemsPerRow: 2) {
    @return repeat(
    auto-fill,
    minmax(
    clamp(
    100% / ($itemsPerRow + 1) + 0.1%,
    (em($preferredValue) - 100cqi) * 1000,
    100%
    ),
    1fr
    )
    );
  }
  */
/* =======================================================================
  Functions
  ===================================================================== */
/* ===================================================================
  Mixins: Writing mode ============================================ */
/* ===================================================================
  Mixins: Text-align ============================================= */
/* ===================================================================
  Mixins : Inset-block-start ===================================== */
/* ===================================================================
  Mixins : Inset-inline-end ====================================== */
/* ===================================================================
  Mixins : Inset-block-end ======================================== */
/* ===================================================================
  Mixins : Inset-inline-start ==================================== */
/* ===================================================================
  Mixins : Positioning =========================================== */
/* ===================================================================
  Mixins : Min-inline-size ======================================= */
/* ===================================================================
  Mixins : Inline-size =========================================== */
/* ===================================================================
  Mixins : Max-inline-size ======================================= */
/* ===================================================================
  Mixins : Min-block-size ======================================== */
/* ===================================================================
  Mixins : Block-size ============================================ */
/* ===================================================================
  Mixins : Max-block-size ======================================== */
/* ===================================================================
  Mixins : Margin-block-start ==================================== */
/* ===================================================================
  Mixins : Margin-inline-end ====================================== */
/* ===================================================================
  Mixins : Margin-block-end ====================================== */
/* ===================================================================
  Mixins : Margin-inline-start =================================== */
/* ===================================================================
  Mixins : Margin-inline ========================================= */
/* ===================================================================
  Mixins : Margin-block ========================================== */
/* ===================================================================
  Mixins : Logical margin ======================================== */
/* ===================================================================
  Mixins : Border-block-start-width ============================== */
/* ===================================================================
  Mixins : Border-inline-end-width =============================== */
/* ===================================================================
  Mixins : Border-block-end-width ================================ */
/* ===================================================================
  Mixins : Border-inline-start-width ============================= */
/* ===================================================================
  Mixins : Border-inline-width =================================== */
/* ===================================================================
  Mixins : Border-block-width ==================================== */
/* ===================================================================
  Mixins : Border-block-start-style ============================== */
/* ===================================================================
  Mixins : Border-inline-end-style =============================== */
/* ===================================================================
  Mixins : Border-block-end-style ================================ */
/* ===================================================================
  Mixins : Border-inline-start-style ============================= */
/* ===================================================================
  Mixins : Border-inline-style =================================== */
/* ===================================================================
  Mixins : Border-block-style ==================================== */
/* ===================================================================
  Mixins : Border-style ========================================== */
/* ===================================================================
  Mixins : Border-block-start-color ============================== */
/* ===================================================================
  Mixins : Border-inline-ens-color =============================== */
/* ===================================================================
  Mixins : Border-block-end-color ================================ */
/* ===================================================================
  Mixins : Border-inline-start-color ============================= */
/* ===================================================================
  Mixins : Border-inline-color =================================== */
/* ===================================================================
  Mixins : Border-block-color ==================================== */
/* ===================================================================
  Mixins : Border-color ========================================== */
/* ===================================================================
Mixins : Border-start-start-radius ============================= */
/* ===================================================================
Mixins : Border-start-end-radius ============================= */
/* ===================================================================
  Mixins : Border-start-radius =================================== */
/* ===================================================================
  Mixins : Border-end-start-radius =============================== */
/* ===================================================================
  Mixins : Border-end-end-radius ================================= */
/* ===================================================================
  Mixins : Border-end-start-radius =============================== */
/* ===================================================================
  Mixins : Border-end-radius ===================================== */
/* ===================================================================
  Mixins : Border-end-radius ===================================== */
/* ===================================================================
  Mixins : Padding-block-start ==================================== */
/* ===================================================================
  Mixins : Padding-inline-end ==================================== */
/* ===================================================================
  Mixins : Padding-block-end ===================================== */
/* ===================================================================
  Mixins : Padding-inline-start =================================== */
/* ===================================================================
  Mixins : Padding-inline ========================================= */
/* ===================================================================
  Mixins : Padding-block ========================================= */
/* ===================================================================
  Mixins : Logical-padding ======================================= */
/* ===================================================================
  Mixins : Box model ============================================= */
/* =======================================================================
   Mixins : Overflow ============================================== */
/* =======================================================================
  Mixins: Line-clamp ================================================== */
/* ===================================================================
  Mixins: Font-weight ============================================ */
/* ===================================================================
  Mixins : Typography ============================================ */
/* ===================================================================
  Mixins : Flexbox =============================================== */
/*
Syntax    Browsers
--------------------------------------------------------------------
2009      Old WebKit
Old FF
2012      IE 10
New       IE 11
Others


New syntax              (IE 11 & Others)
--------------------------------------------------------------------
(1) display:            flex
(2) flex-direction:     row
(3) flex-wrap:          nowrap
(4) flex-flow           row nowrap
(5) justify-content:    flex-start
(6) align-items:        flex-start
(7) align-content:      flex-start
(8) flex:               1


2012 syntax             (IE 10)
--------------------------------------------------------------------
(1) display:            flexbox
(2) -ms-flex-direction: row
(3) -ms-flex-wrap:      nowrap
(4) -ms-flex-flow:      row nowrap
(5) flex-pack:          start
(6) flex-align:         start
(7) flex-line-pack      start
(8) flex:               1


2009 syntax             (Old WebKit & FF)
--------------------------------------------------------------------
(1) display:            box
(2) box-orient:         horizontal
(3) *UNSUPPORTED*
(4) *UNSUPPORTED*
(5) box-pack:           start
(6) box-align:          start
(7) *UNSUPPORTED*
(8) box-flex:           1

*/
/* ===================================================================
  Mixins : Background-clip ======================================= */
/* ===================================================================
  Mixins : Backgrounds =========================================== */
/* ===================================================================
  Mixins : Text-size-adjust ====================================== */
/* ===================================================================
  Mixins : List-style none ======================================= */
/* ===================================================================
  Mixins: Float ================================================== */
/* ===================================================================
  Mixins : Resize ================================================ */
/* ===================================================================
  Mixins : Reserve space for the scrollbar ======================== */
/*
@mixin reserve-scrollbar($sg: stable) {
  @if $sg ==
    "block hidden" or
    $sg ==
    "inline hidden" or
    $sg ==
    "hidden" or
    $sg ==
    "block scroll" or
    $sg ==
    "inline scroll" or
    $sg ==
    "scroll" or
    $sg ==
    "block auto" or
    $sg ==
    "inline auto" or
    $sg ==
    "auto"
  {
    @if $sb == "auto" or $sb == "stable" or $sb == "both-edges" {
      scrollbar-gutter: $sb;
    } @else {
      @debug "The scrollbar-gutter value used is not supported. Please use auto, stable or both-edges.";
    }
  } @else {
    @debug "The overflow value used is not supported in combination with scrollbar-gutter. Please use hidden, scroll or auto.";
  }
}
*/
/* ===================================================================
  Mixins : Overscroll-behavior ==================================== */
/* ===================================================================
  Mixins : Scrollbar ============================================= */
/* ===================================================================
  Mixins: Clip path =============================================== */
/* ===================================================================
  Mixins : Others ================================================ */
/* ===================================================================
  Mixins: Contain ================================================= */
/* ===================================================================
  Mixins : Performance ============================================ */
/* ===================================================================
  Mixins : s-text-fields ========================================== */
/* ===================================================================
  Mixins : s-btn ================================================== */
/* ===================================================================
  Mixins : Shared ================================================= */
/* ===================================================================
  Mixins
  ================================================================ */
/*! ============================================================================
//                                                                             =
//                                Harmonize                                    =
//                                                                             =
// Fixes,                                                                      =
// normalizations,                                                             =
// resets &                                                                    =
// basic styles                                                                =
//                                                                             =
// by Flo2ent                                                                  =
//                                                                             =
// ========================================================================== */
@-ms-viewport {
  width: device-width;
}
/*
:not(html, body, head, img, svg, noscript, picture, source, video, iframe, track, embed, object, canvas, style, script, portal, template, slot) {
  // #opinionated
  @include contain(content);
}
*/
*,
:after,
:before {
  text-overflow: inherit;
  box-sizing: border-box;
}

html {
  height: 100%;
  height: 100dvb;
  -ms-overflow-style: scrollbar;
  overflow: hidden;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Noto Sans", "Droid Sans", "Segoe UI", "Helvetica Neue", "Liberation Sans", Ubuntu, Cantarell, Oxygen, "Fira Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -moz-tab-size: 2;
  tab-size: 2;
  overflow-wrap: break-word;
  line-height: 1.5;
  text-overflow: ellipsis;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  /* autoprefixer: off */
  text-size-adjust: 100%;
  /* autoprefixer: on */
  min-height: 100%;
  height: 100%;
  margin: 0;
  color: #112D4E;
  color: var(--body-text-color, #112D4E);
  -webkit-tap-highlight-color: transparent;
  scrollbar-gutter: stable;
  overflow-y: auto;
  background-color: #F9F7F7;
  background-color: var(--body-bg-color, #F9F7F7);
}

canvas,
embed,
iframe,
main,
object {
  display: block;
}

blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
textarea,
ul {
  margin-bottom: 0;
}

a,
button,
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a {
  color: #3F72AF;
  background-color: transparent;
}

blockquote,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
table,
ul {
  margin-top: 24px;
  margin-top: 1.5rem;
}

canvas,
embed,
iframe,
img,
object,
video {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

fieldset,
img {
  border: 0;
}

blockquote,
dl,
figcaption,
ol,
p,
table,
ul {
  max-width: 70ch;
}

ol,
ul {
  padding-left: 1.5em;
  list-style-position: inside;
}

label {
  display: inline-block;
}

button,
input,
select,
textarea {
  font-size: 1em;
}

input,
select,
textarea {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  -ms-grid-row-align: start;
  align-self: flex-start;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

button,
select,
textarea {
  font-family: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  line-height: inherit;
  color: inherit;
  text-transform: inherit;
}

select,
textarea {
  text-align: inherit;
}

button {
  text-align: center;
  display: inline-block;
  /* autoprefixer: off */
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  /* autoprefixer: on */
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  -ms-grid-row-align: start;
  align-self: flex-start;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  cursor: pointer;
  -khtml-user-select: none;
  user-select: none;
  -webkit-appearance: button;
  vertical-align: middle;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  max-width: 1120px;
  max-width: 70rem;
}

h1 {
  font-size: 36px;
  font-size: 2.25rem;
}

h2 {
  font-size: 27px;
  font-size: 1.6875rem;
}

blockquote,
fieldset,
figure {
  margin-left: 0;
  margin-right: 0;
}

address {
  font-style: normal;
}

video {
  vertical-align: baseline;
}

h3 {
  font-size: 18.72px;
  font-size: 1.17rem;
}

h4 {
  font-size: 16px;
  font-size: 1rem;
}

h5 {
  font-size: 13.28px;
  font-size: 0.83rem;
}

h6 {
  font-size: 10.72px;
  font-size: 0.67rem;
}

hr {
  height: auto;
  border-width: 2px 0 0;
  border-style: solid;
  overflow: visible;
  clear: both;
  color: inherit;
}

code,
kbd,
pre,
samp {
  font-family: "B612Mono-Regular", ui-monospace, SFMono-Regular, Menlo, "Roboto Mono", "Noto Mono", Monaco, Consolas, "Liberation Mono", "Ubuntu Monospace", "Oxygen Mono", "Courier New", Courier, monospace;
}

pre,
textarea {
  min-height: calc(4.5em + 2px + 2px);
  max-height: 70vh;
  padding-left: 0.6666666667em;
  padding-right: 0.6666666667em;
  padding-top: 1px;
  padding-bottom: 1px;
}

pre,
table {
  overflow-x: auto;
}

table {
  width: 100%;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-collapse: collapse;
  border-spacing: 0;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-top: 2px solid;
  border-left: 2px solid;
}

caption,
thead {
  text-align: left;
}

thead {
  *border-color: inherit;
}

td {
  text-align: center;
}

fieldset {
  padding: 0;
}

textarea {
  border: 1px solid;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  resize: vertical;
  border-radius: 5px;
  cursor: text;
  appearance: none;
}

select {
  vertical-align: middle;
  border: 1px solid;
  overflow: visible;
  cursor: pointer;
  border-radius: 5px;
}

audio {
  max-width: 100%;
}

dt {
  font-weight: bold;
}

dfn {
  font-style: normal;
}

dd {
  margin-left: 24px;
  margin-left: 1.5em;
}

q::before {
  content: open-quote " ";
}

q::after {
  content: " " close-quote;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-bold {
  font-weight: 900;
}

.u-vh {
  white-space: nowrap;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.u-no-overflow {
  overflow: hidden;
}

.app-container {
  overflow: hidden;
}
.app-container__inner {
  /* autoprefixer: off */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* autoprefixer: on */
  min-height: 100vh;
  min-height: 100dvb;
  margin-top: -2px;
  margin-left: -2px;
  /* autoprefixer: off */
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /* autoprefixer: on */
}

.app-header,
.app-content {
  border-top: 2px solid;
  border-left: 2px solid;
}

.app-header,
.app-main,
.app-footer {
  padding-left: 16px;
  padding-right: 16px;
  padding-left: 1em;
  padding-right: 1em;
}

.app-header {
  padding-top: 16px;
  padding-top: 1em;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1 1 15.625em;
  -webkit-flex: 1 1 15.625em;
  flex: 1 1 15.625em;
}

.app-logo {
  font-size: 1.5em;
}

.app-nav__list {
  margin-top: 16px;
  margin-top: 1em;
  padding-left: 0;
  list-style: none outside;
  /* stylelint-disable function-url-quotes */
  list-style: outside url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
  /* stylelint-enable function-url-quotes */
}
.app-nav__item {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.app-content {
  /* autoprefixer: off */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* autoprefixer: on */
  min-width: 70%;
  -webkit-box-flex: 999;
  -moz-box-flex: 999;
  -ms-flex: 999 1 0%;
  -webkit-flex: 999 1 0%;
  flex: 999 1 0%;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  /* autoprefixer: on */
  /* autoprefixer: off */
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  /* autoprefixer: on */
}

.app-main {
  margin-bottom: 182.25px;
  margin-bottom: 11.390625rem;
}
.app-main__section {
  margin-top: 121.5px;
  margin-top: 7.59375rem;
}
.app-main__sub-section {
  margin-top: 54px;
  margin-top: 3.375rem;
}

.main-title__sub-title {
  display: block;
  font-size: 27px;
  font-size: 1.6875rem;
  margin-top: 16px;
  margin-top: 1rem;
}

.c-img__ratio, .grid__img-ratio {
  position: relative;
}
.c-img__ratio-inner, .grid__img-ratio-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-section__desc-ctn {
  display: flex;
  margin-top: 24px;
  margin-top: 1.5rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.about-section__img {
  max-width: 100px;
  flex-basis: 100px;
}
.about-section__img-ratio {
  padding-top: 100%;
}
.about-section__desc {
  margin-top: 0;
}

.title--level2 {
  border-bottom: 1px solid;
}

.title--level3 {
  font-size: 18.72px;
  font-size: 1.17rem;
  border-bottom: 1px solid;
}

.title--level4 {
  font-weight: 700;
}

.grid__list-ctn {
  overflow: hidden;
  margin-top: 24px;
  margin-top: 1.5rem;
}
.grid__list {
  max-width: none;
  margin: -0.75rem;
  padding-left: 0;
  list-style: none outside;
  /* stylelint-disable function-url-quotes */
  list-style: outside url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
  /* stylelint-enable function-url-quotes */
}
.grid__item {
  min-width: 150px;
  margin: 0.75rem;
  border: 1px solid;
  border-radius: 12px;
  border-radius: 0.75rem;
  float: left;
}
.grid__img-ratio {
  padding-top: 100%;
  border-bottom: 1px solid;
}
.grid__img-ratio-inner {
  /* autoprefixer: off */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* autoprefixer: on */
  padding: 16px;
  padding: 1em;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.grid__details {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
.grid__title {
  font-weight: 600;
  margin-top: 16px;
  margin-top: 1rem;
}

.certificates__list {
  padding-left: 0;
  list-style: none outside;
  /* stylelint-disable function-url-quotes */
  list-style: outside url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
  /* stylelint-enable function-url-quotes */
}
.certificates__item {
  margin-top: 36px;
  margin-top: 2.25rem;
}
.certificates__details {
  padding-left: 24px;
  padding-left: 1.5em;
  border-left: 2px dotted;
}

.def-list {
  margin-top: 0;
  padding-top: 24px;
  padding-top: 1.5rem;
}
.def-list__group {
  margin-top: 16px;
  margin-top: 1rem;
}
.def-list__def {
  margin-left: 0;
}

.app-footer {
  margin-top: auto;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  border-top: 2px solid;
}

@supports (display: flex) {
  .grid__list {
    display: flex;
    flex-wrap: wrap;
  }
  .grid__item {
    flex: 1;
  }
  .s-grid-fix {
    flex: 999;
  }
}
/*! ============================================================================
//                                                                             =
//                                  Main                                       =
//                                                                             =
// ========================================================================== */
.certificates__title:before {
  content: "•";
  margin-right: 10px;
  margin-right: 1ch;
}

.app-main__sub-section:first-child,
.def-list__group:first-child {
  margin-top: 0;
}
